<div class="container-fluid">
    <div id="title">
        <h1> Schedule </h1>
        <p>Don't miss your timetable anymore</p>
    </div>
    <div class="register">
        <form 
            [formGroup]="calendarForm"
            (ngSubmit)="submitCalendar()"
        >

            <mat-card class="register-form">
                <mat-card-header>
                    <mat-card-title>
                        Upload your Calendar
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <mat-form-field class="form">
                            <input id="input" formControlName="email" matInput placeholder="Email"/>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <input class="form-control" formControlName="file" type="file">
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" class="btn btn-success" (click)="submitCalendar()"> Save </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
